/* style de la zone de drop des fichiers */
div.my-drop-zone {
    border: 2px dashed blue;
    width: 200px;
    height: 200px;
    background-color: cadetblue
}
 
/* style quand on peut droper un fichier */
div.file-over {
    background-color: chartreuse
}