<div class="row">
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  <app-tag-selector [tagMode]="1"
                    [relatedTags]="tagsToApply"
                    (tagAddChange)="selectNewTag($event)"
                    (tagRemoveChange)="unSelectTag($event)"></app-tag-selector>
  </div>
  <div class="well col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div [ngClass]="{'file-over' : hasBaseDropZoneOver}"
         (fileOver)="fileOverDrop($event)"
         [uploader]="uploader"
         class="my-drop-zone"
         ng2FileDrop>
        Drop you're image here
    </div>
  </div>
  <div class="well col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div *ngFor="let item of uploader.queue">
      <progressbar class="progress-striped"
                  [value]="item.progress">
      {{item?.file?.name}} - {{item.progress}}%
    </progressbar>
    </div>
  </div>  
</div>
