<div class="row">
  <div class="well col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div [ngClass]="{'file-over' : hasBaseDropZoneOver}"
         (fileOver)="fileOverDrop($event)"
         [uploader]="uploader"
         class="my-drop-zone"
         ng2FileDrop>
        Drop you're image here
    </div>
  </div>
  <div class="well col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div *ngFor="let item of uploader.queue">
      <progressbar class="progress-striped"
                  [value]="item.progress">
      {{item?.file?.name}} - {{item.progress}}%
    </progressbar>
    </div>
  </div>  
</div>
